[package]
name = "i24"
version = "2.0.0"
edition = "2021"
license = "MIT"
description = "A Rust library for working with 24-bit integers."
readme = "README.md"
repository = "https://github.com/jmg049/i24"
documentation = "https://docs.rs/i24"
categories = ["data-structures", "mathematics", "encoding"]

[dependencies]
bytemuck = "1"
num-traits = "0.2"

serde = { version = "1", default-features = false, optional = true }
pyo3 = { version = "0.24.0", features = ["extension-module"], optional = true }
numpy = { version = "0.24.0", optional = true }

[dev-dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = { version = "1" }

[features]
std = []
pyo3 = ["std", "dep:pyo3", "dep:numpy"]
serde = ["dep:serde"]
